* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    background-color: #eeeeeeab;
    border-radius: 5px;
    width: 10px;
    height: 010px;
}

*::-webkit-scrollbar-thumb {
    background-color: #2563eb;
    border-radius: 5px;
    border: solid 2px #eee;
}

body {
    font-family: "Cairo", sans-serif;
    max-width: 1366px;
    margin: 0 auto;
    width: 100%;
    padding: 3px;
}

section {
    display: grid;
    background-color: #2563eb;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    gap: 5px;
}

section h1,
p {
    color: #fff;
    font-size: 28px;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
    margin: auto;
    width: fit-content;
}

section h1:hover {
    background-color: #fff;
    color: #2563eb;
    transform: scale(1.02);
}

form h1 {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #eee;
    color: #2563eb;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

section p {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 1;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #2563eb;
    border-radius: 5px;
    margin-top: 4px;
    gap: 10px;
}

.question-parent {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border: 2px solid #2563eb;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.question-parent span,
textarea {
    width: 100%;
    background-color: white;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #2563eb;
    transition: all 0.2s ease;
    resize: none;
    font-family: "Cairo", sans-serif;
}

.question-parent span:first-child {
    font-weight: bold;
    background-color: #2563eb;
    color: white;
    border: none;
}

.question-parent span:hover,
textarea:hover {
    background-color: #2563eb;
    color: white;
}

.answer-text.selected {
    background-color: #2563eb;
    color: white;
    font-weight: bold;
    border-color: none;
    outline-color: none;
}

.submiter {
    padding: 10px;
    background-color: #eee;
    color: #2563eb;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    border: #2563eb solid 1px;
    outline-color: none;
    transition: 0.3s;
}

.submiter:hover {
    background-color: #eeeeeedf;
}

@media (max-width: 600px) {
    section {
        padding: 5px;
    }

    section h1,
    form h1 {
        font-size: 21px;
    }

    section p {
        font-size: 12px;
    }

    .question-parent {
        padding: 10px;
    }

    .question-parent span,
    textarea {
        padding: 8px 12px;
        font-size: 12px;
    }
}
