header {
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: #2563eb;
    color: #eee;
}

header h1 {
    font-size: 20px;
}

header div a {
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    text-decoration: none;
    color: #eee;
    font-size: 14px;
}

header div a:hover {
    color: #2563eb;
    background-color: #eee;
}

@media (max-width: 550px) {
    header {
        padding: 9px;
    }

    header h1 {
        font-size: 14px;
    }

    header div a {
        font-size: 11px;
        padding: 5px;
    }
}
