* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    background-color: #eeeeeeab;
    border-radius: 5px;
    width: 10px;
    height: 010px;
}

*::-webkit-scrollbar-thumb {
    background-color: #2563eb;
    border-radius: 5px;
    border: solid 2px #eee;
}

body {
    font-family: "Cairo", sans-serif;
    max-width: 1366px;
    margin: 0px auto;
    width: 100%;
    padding: 2px;
}

.landing {
    position: relative;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 50px;
    width: 100%;
    min-height: calc(100vh - 60px);
    margin-top: 3px;
    background-color: #2563eb;
    padding: 10px;
    border-radius: 5px;
}

img {
    left: 10px;
    top: 10px;
    position: absolute;
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

.landing h1,
h3 {
    color: #eee;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.landing h1:hover,
h3:hover {
    background-color: #eee;
    color: #2563eb;
}

a {
    text-decoration: none;
}

@media (max-width: 550px) {
    .landing {
        padding: 5px;
        min-height: calc(100vh - 45px);
    }

    .landing h1,
    h2 {
        padding: 5px;
    }

    img {
        width: 50px;
        height: 50px;
    }
}
